.container {
  margin-bottom: 25px;
}

.h1 {
  color: #e4ed82;
}

.h1-economy {
  color: #06d6a0;
}

.h1-development {
  color: #118ab2;
}

.h1-tech {
  color: #ffd166;
}

.h1-youtube {
  color: #ef476f;
}

.p {
  margin: 0;
  padding-left: 3px;
}
