.container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 50px;
}

.cardlist {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  height: 400px;
}

@media (max-width: 600px) {
  .cardlist {
    margin-bottom: 0;
  }
}
